
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/buttons.css">
</head>
<body>
    
<button class="btn">
    Test Button
</button>

<button class="btn btn-success">
    Test Button
</button>

<button class="btn btn-danger">
    Test Button
</button>

<button class="btn btn-danger big">
    Test Button
</button>

<div class="btn-group">
        
    <button class="btn btn-danger small">
        Test Button
    </button>

    <button class="btn btn-danger small">
        Test Button
    </button>

    <button class="btn btn-danger small">
        Test Button
    </button>
</div>
</body>
</html>

